<div class="header" id="header">
  <div class="header-inner">
    <p></p>
    <div class="navbar-header">
      <a href="/index" class="navbar-brand"></a>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/vd">所有视频</a>
        </li>
          <li>
              <a href="/vd/qul">视频查重</a>
          </li>
          <li>
              <a href="/logout">退出</a>
          </li>
      </ul>
    </nav>
    </div>
</div>